.About {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    animation: about 0.3s ease-in ;

}

.About h1 {
    color: #a972cb;
    margin-top: 0;
}

.About h4 {
    color:grey;
    font-weight: 200;
    margin: 0;
}

.Main {
    font-size: x-large;
    color: whitesmoke;
}

.About img {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 50%;
    text-align: center;
}

@keyframes about {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
  to {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes image {
    from {opacity: 0;}
  to {
      opacity: 1;
    }  
}


.button button{
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    padding: 0.5em 2em;
    border-radius: 28px;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    /* color: wheat; */
    border-color:  #a972cb;
    color: #fff;
    outline: 0;
    transition: all 0.2s ease-out
}
.button button:hover {
    border-color: white;
    color: #a972cb;
    outline: 0;
}